/*header*/
html{
    
}
/*Background*/
div{
    overflow: fixed;
}
/*Section - Contact Me*/
h2 {
    text-align: center;
    font-size: 80px;
}
p{
    text-align: center;
}
/*Contacts - list*/
.border{
    border-style: double;
    display: block;
    border-color: black;
    height: 700pt;
}
input[type="text"]{
    width: 50%;
    margin: 10px;
    padding: 12px;
    border-color:rgb(121, 135, 119);
}
input[type="button"]{
    width: 80pt;
    padding: 13px;
    cursor: pointer;
    overflow: fixed;
    align-items: center;
}
textarea{
    resize:vertical;
    overflow: scroll;
    max-height: 300pt;
}